.nav-container {
    max-width: 100dvw;    
    margin: auto;
    background-color: white;
    z-index: 9999;     
   
}

.navbar {    
    max-width: 72.5rem;
    margin: auto;      
}

.nav-item {      
    color: $primary;
    font-weight: 500;    
    transition: color ease-in-out .2s;    
    text-decoration: underline;  
    text-decoration-thickness: 2px;  
    text-decoration-color: transparent;
    transition: text-decoration .2s ease-in-out;
    text-underline-offset: 6px;  
        &:hover{
            color: rgb(86, 95, 86);     
            text-decoration: underline;   
            text-decoration-thickness: 2px;            
        }   
     
}

.navbar-collapse {    
    padding-top: 1.25rem;   
    background-color: white;
}

@media (max-width: 1200px) {
    .navbar-collapse {
        padding-left: 2.5rem;        
        margin: auto 0;
        padding-top: 0;
    }

    .navbar-brand {
        padding-left: 2rem;
    }
}
