$text-primary: rgb(70, 70, 71);
$primary: hsla(108, 6%, 46%, 1);

@import "nav";


*{  
    font-family: 'Ubuntu', sans-serif; 
    overflow-x: hidden;
    
}

@media (min-width: 1400px) {
    .carousel-top .carousel-control-prev {
        left: -6.8rem;
    }
    .carousel-top .carousel-control-next {
        right: -6.8rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.carousel-top {
    max-width: 1160px;
}

.hero-text {
    margin-top: 7rem;
    max-width: 46rem;  
}

p {
    font-weight: 500;
    color: $text-primary;      
    line-height: 1.9rem;  
}

.link-button{
    display: block;      
    padding: 0.9rem 2rem;
    background-color: $primary;
    text-align: center;
    color: white;
    box-shadow: -1px 3px 6px rgba(0,0,0,0.13);
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color ease-in-out .2s;
    text-decoration: none;    
    

        &:hover {            
            color: white;
            text-decoration: none;
            background-color: rgb(86, 95, 86);   	
        }
        &:nth-child(2) {
            width: 16rem;
        }
}

.top-button {
    margin-bottom: 9rem;
}

.text-aside h1 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 2rem;
    max-height: 600px;
    font-size: 1.7rem;
}

.carousel-aside img {
    height: 600px;
}

@media (max-width: 1000px){
    .double-container {
        flex-direction: column;

        .text-aside {
            padding: 5rem 0 5rem 0;
            width: 100% !important;           
        }   
        
        .carousel-aside {  
                        
            img {
                max-height: 300px;
            }         
        }

    }
}

h2 {     
    color: $primary;
    font-size: 2.5rem;
    font-weight: 900;     
}

.section-header h2 {
    color: white;
    text-align: center; 
    padding-bottom: 1.5em; 
}

h3 {
    color: $primary;
    font-weight: bold;
    font-size: 1.3rem;    
}


.card-img-overlay a {
    margin: 0 0 3em 0;
    padding: 1em 2em;
    background-color: white;
    color: $primary;
    &:hover {            
        color: rgb(77, 85, 75);            
        background-color: rgb(237, 240, 243);             
    }   
    
    @media (max-width: 1200px){
        margin-bottom: 1rem;
    }

    @media (max-width: 900px) {
        margin: 0px;
    }
}

.card-wrapper-1 {
    background-color: $primary;
    padding: 6em 8em;  
    
    .card-body-top {  
        padding: 3.5em 1.5em;              
              
        a {
            width: 209px;  
            margin: 0 auto;         
            
        }         
        
        h3 {
            color: $primary;
        }
    }

    .card {
        border-radius: 0;
        img {
            border-radius: 0;
        }
    }

    .card-group {
        @media (max-width: 1200px) {         
            flex-direction: column;   
            max-width: 25rem;      
        }        

    }   

    .termin-button {
        background-color: white;
        color: $primary;              
        width: 16em;
        margin: 4em auto 0;
        &:hover {            
            color: rgb(77, 85, 75);            
            background-color: rgb(237, 240, 243);             
        }     
    }
}

.text-bottom {
    max-width: 42rem;
    margin: 6rem 0;
}

.hor-card {
    max-width: 55%;
    border-radius: 0;
    text-align: center;
    margin-bottom: 4rem;
    box-shadow: 5px 3px 3px rgb(182, 181, 181);
    
    img {
        width: 50%;
    }
    .card-body {
        background-color: $primary;
        color: white;
        padding: 4em 2.6em;
        width: 50%;
        p {
            color: white;
            font-weight: 400;
        }

        h3 {
            padding-bottom: 1em;
        }       
    }

    @media (max-width: 1200px) {
        flex-direction: column !important;
        width: 100%;
        img {
            width: 100%;
        }
        .card-body {
            width: 100%;
        }
    }
}
