.button-dark {
  display: inline-block;
  padding: 1em 2em;
  background-color: hsl(108, 6%, 46%);
  text-align: center;
  color: white;
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.13);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color ease-in-out 0.2s;
  text-decoration: none;
  text-transform: uppercase;
}
.button-dark:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(86, 95, 86);
}

.button-light {
  display: inline-block;
  padding: 1em 2em;
  background-color: white;
  text-align: center;
  color: hsl(108, 6%, 46%);
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.13);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color ease-in-out 0.2s;
  text-decoration: none;
  text-transform: uppercase;
}
.button-light:hover {
  color: rgb(77, 85, 75);
  background-color: rgb(237, 240, 243);
}

.nav-container {
  max-width: 100dvw;
  margin: auto;
  background-color: white;
  z-index: 9999;
}

.navbar {
  max-width: 72.5rem;
  margin: auto;
}

.nav-item {
  color: hsl(108, 6%, 46%);
  font-weight: 500;
  transition: color ease-in-out 0.2s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: transparent;
  transition: -webkit-text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out;
  transition: text-decoration 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
  text-underline-offset: 6px;
}
.nav-item:hover {
  color: rgb(86, 95, 86);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.navbar-collapse {
  padding-top: 1.25rem;
  background-color: white;
}

@media (max-width: 1200px) {
  .navbar-collapse {
    padding-left: 2.5rem;
    margin: auto 0;
    padding-top: 0;
  }
  .navbar-brand {
    padding-left: 2rem;
  }
}
* {
  font-family: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-weight: 500;
  color: rgb(70, 70, 71);
  line-height: 1.9rem;
}

h2 {
  color: hsl(108, 6%, 46%);
  font-size: 2.5rem;
  font-weight: 900;
}

.section-header h2 {
  color: white;
  text-align: center;
  padding-bottom: 1.5em;
}

h3 {
  color: hsl(108, 6%, 46%);
  font-weight: bold;
  font-size: 1.3rem;
}

.carousel-top {
  max-width: 75rem;
  padding: 0 1rem;
  width: 95%;
}
.carousel-top .carousel-control-next img {
  right: -1rem;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}
.carousel-top .carousel-control-prev img {
  left: -1rem;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
}

.hero-text {
  margin-top: 7rem;
  max-width: 46rem;
}

.margin-bottom {
  margin-bottom: 9rem;
}

.text-aside h1 {
  color: hsl(108, 6%, 46%);
  font-weight: bold;
  margin-bottom: 2rem;
  max-height: 37rem;
  font-size: 1.7rem;
}

.carousel-aside .carousel-inner img {
  height: 37rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  .double-container {
    flex-direction: column;
  }
  .double-container .text-aside {
    padding: 5rem 0 5rem 0;
    width: 100% !important;
  }
  .double-container .carousel-aside .carousel-inner img {
    height: 300px;
  }
}
.white-control {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 50%;
  margin-top: -1.75rem;
  opacity: 0.9;
  max-width: none;
}

.background a {
  margin: 0 0 3em 0;
}
@media (max-width: 1200px) {
  .background a {
    margin-bottom: 1rem;
  }
}
@media (max-width: 900px) {
  .background a {
    margin: 0px;
    padding: 0.5em;
  }
}

.card-wrapper-1 {
  background-color: hsl(108, 6%, 46%);
  padding: 6rem 2rem;
}
.card-wrapper-1 .card-body-top {
  padding: 3.5em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-wrapper-1 .card-body-top a {
  margin: 0 auto;
}
.card-wrapper-1 .card-body-top h3 {
  color: hsl(108, 6%, 46%);
}
.card-wrapper-1 .card {
  border-radius: 0;
}
.card-wrapper-1 .card img {
  border-radius: 0;
}
@media (max-width: 1200px) {
  .card-wrapper-1 .card-group {
    flex-direction: column;
    max-width: 25rem;
  }
}

.text-bottom {
  max-width: 42rem;
  margin: 6rem 0;
}

.hor-card {
  max-width: 55%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 4rem;
  box-shadow: 5px 3px 3px rgb(182, 181, 181);
}
.hor-card img {
  width: 50%;
}
.hor-card .card-body {
  background-color: hsl(108, 6%, 46%);
  color: white;
  padding: 4em 2.6em;
  width: 50%;
}
.hor-card .card-body p {
  color: white;
  font-weight: 400;
}
.hor-card .card-body h3 {
  padding-bottom: 1em;
}
@media (max-width: 1200px) {
  .hor-card {
    flex-direction: column !important;
    max-width: 70%;
  }
  .hor-card img {
    width: 100%;
  }
  .hor-card .card-body {
    width: 100%;
  }
}

.rating-wrapper {
  background-image: url("/images/olena-sergienko-3BlVILvh9hM-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(108, 6%, 46%);
}
.rating-wrapper h2 {
  padding: 5rem;
}
.rating-wrapper .rating-group {
  max-width: 80%;
  flex: 1 1 0;
}
.rating-wrapper .card-rating {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  padding: 2rem 3rem;
  background-color: white;
  justify-content: space-between;
}

.card-carousel-wrapper {
  background-color: hsl(108, 6%, 46%);
  width: 100%;
  padding: 3rem 0;
}
.card-carousel-wrapper p {
  color: white;
}
.card-carousel-wrapper .card-carousel {
  max-width: 60%;
}
@media (max-width: 1100px) {
  .card-carousel-wrapper .card-carousel {
    max-width: 90%;
  }
}
.card-carousel-wrapper .inner-card {
  background-color: white;
}
.card-carousel-wrapper .inner-card p,
.card-carousel-wrapper .inner-card h3,
.card-carousel-wrapper .inner-card span {
  color: hsl(108, 6%, 46%);
}
.card-carousel-wrapper .inner-card a {
  width: 11.5rem;
}
.card-carousel-wrapper .inner-card .card-body {
  padding: 3rem;
}
@media (max-width: 800px) {
  .card-carousel-wrapper .inner-card {
    flex-direction: column;
  }
  .card-carousel-wrapper .inner-card img {
    width: 100% !important;
    height: 50%;
  }
  .card-carousel-wrapper .inner-card .card-body {
    width: 100% !important;
    height: 50%;
  }
}

.contact-wrapper {
  padding: 7rem;
}
.contact-wrapper img {
  width: 3.5rem;
}
.contact-wrapper span {
  padding-top: 2rem;
}
.contact-wrapper .info {
  flex: 1 1 0;
}
.contact-wrapper a {
  margin-top: 5rem;
}

.wrapper {
  background-color: hsl(108, 6%, 46%);
  padding: 7rem 3rem 3rem 3rem;
}
.wrapper h2 {
  padding-bottom: 2rem;
}
.wrapper p {
  color: white;
  max-width: 40rem;
  padding-bottom: 3rem;
}

.footer a {
  color: hsl(108, 6%, 46%);
  font-weight: 400;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
}
.footer a::hover {
  color: rgb(77, 85, 75);
}

#scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}/*# sourceMappingURL=main.css.map */