$text-primary: rgb(70, 70, 71);
$primary: hsla(108, 6%, 46%, 1);

@import "nav";


*{  
    font-family: 'Ubuntu', sans-serif;    
    
}

@media (min-width: 1400px) {
    .carousel-top .carousel-control-prev {
        left: -6.8rem;
    }
    .carousel-top .carousel-control-next {
        right: -6.8rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

.carousel-top {
    max-width: 1160px;
}

.hero-text {
    max-width: 46rem;
    margin-top: 7rem; 
}

p {
    font-weight: 500;
    color: $text-primary;      
    line-height: 1.9rem;  
}

.link-button{
    display: block;
    width: 15rem;    
    padding: 0.9rem 2rem;
    background-color: $primary;
    text-align: center;
    color: white;
    box-shadow: -1px 3px 6px rgba(0,0,0,0.13);
    font-weight: 500;
    letter-spacing: 0.04em;
    transition: background-color ease-in-out .2s;
    text-decoration: none;
    margin-bottom: 9rem;
    

        &:hover {            
            color: white;
            text-decoration: none;
            background-color: rgb(86, 95, 86);   	
        }
        &:nth-child(2) {
            width: 16rem;
        }
}

.text-aside h1 {
    color: $primary;
    font-weight: bold;
    margin-bottom: 2rem;
    max-height: 600px;
    font-size: 1.7rem;
}

.carousel-aside img {
    height: 600px;
}

@media (max-width: 1000px){
    .double-container {
        flex-direction: column;

        .text-aside {
            padding: 5rem 0 5rem 0;
            width: 100% !important;           
        }   
        
        .carousel-aside {  
                        
            img {
                max-height: 300px;
            }         
        }

    }
}

h2 {
    color: white;
    text-align: center;    
    font-size: 2.5rem;
    font-weight: 900;  
}

.card-container-1 {       
    background-color: $primary;
    height: 1000px;
    width: 100%;  
    h2 {
        padding: 6rem 0 4rem 0;           
    }  
    .termin-button {
        background-color: white;
        color: $primary;        
        width: 16rem;
        margin: 4rem 0 8rem 0;
        &:hover {            
            color: rgb(46, 70, 44);
            text-decoration: none;
            background-color: rgb(237, 240, 243);   	
        }      
    }
    .card-wrapper {
        width: 100%;
    }
}

.vert-card {
    width: 320px;
        
    img {
        width: inherit;
    }
}

.card-top {
    background-color: white;
    width: inherit;
    padding: 2rem;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
    .link-button {
        width: 12.7rem;
        margin: 0;            
    }
}

h3 {
    color: $primary;
    font-weight: bold;
    font-size: 1.3rem;
}


