.navbar {
  max-width: 1160px;
  margin: auto;
}

.nav-container {
  max-width: 1300px;
  margin: auto;
  background-color: white;
  z-index: 9999;
}

.nav-item {
  color: hsl(108, 6%, 46%);
  font-weight: 500;
  transition: color ease-in-out 0.2s;
}
.nav-item:hover {
  color: rgb(86, 95, 86);
}

.navbar-collapse {
  padding-top: 1.25rem;
  background-color: white;
}

@media (max-width: 1200px) {
  .navbar-collapse {
    padding-left: 2.5rem;
    margin: auto 0;
  }
  .navbar-brand {
    padding-left: 2rem;
  }
}
* {
  font-family: "Ubuntu", sans-serif;
}

@media (min-width: 1400px) {
  .carousel-top .carousel-control-prev {
    left: -6.8rem;
  }
  .carousel-top .carousel-control-next {
    right: -6.8rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}
.carousel-top {
  max-width: 1160px;
}

.hero-text {
  margin-top: 7rem;
  max-width: 46rem;
}

p {
  font-weight: 500;
  color: rgb(70, 70, 71);
  line-height: 1.9rem;
}

.link-button {
  display: block;
  padding: 0.9rem 2rem;
  background-color: hsl(108, 6%, 46%);
  text-align: center;
  color: white;
  box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.13);
  font-weight: 500;
  letter-spacing: 0.04em;
  transition: background-color ease-in-out 0.2s;
  text-decoration: none;
}
.link-button:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(86, 95, 86);
}
.link-button:nth-child(2) {
  width: 16rem;
}

.top-button {
  margin-bottom: 9rem;
}

.text-aside h1 {
  color: hsl(108, 6%, 46%);
  font-weight: bold;
  margin-bottom: 2rem;
  max-height: 600px;
  font-size: 1.7rem;
}

.carousel-aside img {
  height: 600px;
}

@media (max-width: 1000px) {
  .double-container {
    flex-direction: column;
  }
  .double-container .text-aside {
    padding: 5rem 0 5rem 0;
    width: 100% !important;
  }
  .double-container .carousel-aside img {
    max-height: 300px;
  }
}
.white-control {
  width: 66px;
  max-height: 66px;
  position: absolute;
  top: 50%;
  margin-top: -33px;
  opacity: 1;
  max-width: none;
}
h2 {
  color: hsl(108, 6%, 46%);
  font-size: 2.5rem;
  font-weight: 900;
}

.section-header h2 {
  color: white;
  text-align: center;
  padding-bottom: 1.5em;
}

h3 {
  color: hsl(108, 6%, 46%);
  font-weight: bold;
  font-size: 1.3rem;
}

.background a {
  margin: 0 0 3em 0;
  padding: 1em 2em;
  background-color: white;
  color: hsl(108, 6%, 46%);
}
.background a:hover {
  color: rgb(77, 85, 75);
  background-color: rgb(237, 240, 243);
}
@media (max-width: 1200px) {
  .background a {
    margin-bottom: 1rem;
  }
}
@media (max-width: 900px) {
  .background a {
    margin: 0px;
  }
}

.card-wrapper-1 {
  background-color: hsl(108, 6%, 46%);
  padding: 6em 8em;
}
.card-wrapper-1 .card-body-top {
  padding: 3.5em 1.5em;
}
.card-wrapper-1 .card-body-top a {
  width: 209px;
  margin: 0 auto;
}
.card-wrapper-1 .card-body-top h3 {
  color: hsl(108, 6%, 46%);
}
.card-wrapper-1 .card {
  border-radius: 0;
}
.card-wrapper-1 .card img {
  border-radius: 0;
}
@media (max-width: 1200px) {
  .card-wrapper-1 .card-group {
    flex-direction: column;
    max-width: 25rem;
  }
}
.card-wrapper-1 .termin-button {
  background-color: white;
  color: hsl(108, 6%, 46%);
  width: 16em;
  margin: 4em auto 0;
}
.card-wrapper-1 .termin-button:hover {
  color: rgb(77, 85, 75);
  background-color: rgb(237, 240, 243);
}

.text-bottom {
  max-width: 42rem;
  margin: 6rem 0;
}

.hor-card {
  max-width: 55%;
  border-radius: 0;
  text-align: center;
  margin-bottom: 4rem;
  box-shadow: 5px 3px 3px rgb(182, 181, 181);
}
.hor-card img {
  width: 50%;
}
.hor-card .card-body {
  background-color: hsl(108, 6%, 46%);
  color: white;
  padding: 4em 2.6em;
  width: 50%;
}
.hor-card .card-body p {
  color: white;
  font-weight: 400;
}
.hor-card .card-body h3 {
  padding-bottom: 1em;
}
@media (max-width: 1200px) {
  .hor-card {
    flex-direction: column !important;
    width: 100%;
  }
  .hor-card img {
    width: 100%;
  }
  .hor-card .card-body {
    width: 100%;
  }
}

.rating-wrapper h2 {
  margin: 2em 0 0 0 !important;
  color: white;
}
.rating-wrapper .link-button {
  display: inline-block;
  padding: 1em 1.6em;
  margin: 0 auto !important;
}
.rating-wrapper .card {
  flex: 1 1 0;
  padding: 2rem 4rem;
  justify-content: space-around;
  border-radius: 0;
}/*# sourceMappingURL=main.css.map */